@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  transition: 0.2s;
  scroll-behavior: smooth;
}

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/public/images/heroImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
